//colores
$color-principal: #000;
$font-color-principal: rgba(0,0,0,0.1);
$font-color-secondary: rgb(255, 153, 0);
$background-color: rgb(241, 221, 191);

//font
$font-s: 1rem;
$font-m: 2rem;
$font-l: 3rem;
