* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
   background-color: $background-color; 
}
body{
    background-color: $background-color; 
}
nav{
    div{
        color: $color-principal;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Roboto', sans-serif;
    } 
}
#destacados{
    font-family: 'Roboto', sans-serif;
    color: $font-color-secondary;
}
.btn{
    background: orangered;
}

/** Estilos de página principal**/
#destacados {
    display: flex;
    justify-content: center;
 }
 
 .categoria {
    margin-left: 10px;
    margin-top: 40px;
    margin-bottom: 50px;
 
 }
 .card-img-top {
    display: flex;
    margin-top: 15px;
    justify-content: center;
 }
 .comentarios {
    display: flex;
    -ms-flex-align: center;
 }